body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




/***********************************/
/* Simple accordion menu           */
    ul, li {
        /*border:1px solid #f00;*/
    }

    ul.accordion-menu,
    ul.accordion-menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .accordion-menu {
    }

    .accordion-menu-item {
        border: 1px solid #eeeeee;
    }

    .accordion-menu-main-item-text {
        font-weight: bold;
        text-decoration: none;
    }

    .accordion-sub-menu {
        display: none;
    }

    .accordion-sub-menu-item {
    }

    .accordion-menu-item-text {
    }


/* END Simple accordion menu        */
