*:focus {
    outline: none;
}
a:visited, a:hover, a:active, a:link{
    text-decoration: none;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/***********************************/
/*  Generic stuff                  */
    html, body{
        width: 100%;
        height: 100%;
    }
    body{
        background-color: #F0F0F0; 
    }
    .body-content{
        max-width: 100%;
        height: 100%;
        
        padding-left: 0px;
        padding-right: 0px;
    }



/***********************************/
/* Simple accordion menu           */
    .accordion-menu-container{
        border-right: 1px solid #eeeeee;
        height: 100%;
        background-color: #3A3B3D;
    }
    .accordion-menu-container,
    .accordion-menu-container > .container{
        padding: 0px;
    }

    ul.accordion-menu,
    ul.accordion-menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .accordion-menu {
        font-family: Verdana;
        font-size: 14px;
    }

    .accordion-menu i.fa
    {
        font-weight: normal;
        /*font-size: 14px;*/
    }

    .accordion-menu-logo-item{
        padding: 10px;
        text-align:center;
        background-color: #343537
    }

    .accordion-menu-logo-item > a > img {
        border-width: 0px;
        width: 100%;
        max-width: 129px;
    }

    .accordion-menu-item {
        /*border: 1px solid #eeeeee;*/
        display: block;
        /*margin-bottom: 5px;*/
        background-color: #343537;
    }

    a.accordion-menu-main-item-text {
        font-weight: bold;
        color: #707173;
        display: block;

        padding: 10px;
        margin-bottom: 0;
        /*background-color: #f5f5f5;*/
        border-bottom: 1px solid rgba(0,0,0,.125);
        text-transform: uppercase;
    }

    .accordion-sub-menu {
        display: none;

        position: relative;
        
        background-color: #3A3B3D;

        /*margin-bottom: .75rem;*/
        /*background-color: #fff;*/
        /*border-radius: .25rem;*/
    }

    .accordion-sub-menu-item {
        display: block;
    }

    a.accordion-sub-menu-item-text {
        padding: 10px;
        display: block;
        color: #D0D1D3;
    }

    a.accordion-sub-menu-item-text:hover,
    a.accordion-sub-menu-item-text.marked{
        color: #03CB96;
        border-right: 5px solid #03CB96;
        padding-right: 5px;
    }


/* END Simple accordion menu        */

table.table{
    border-collapse:collapse;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border-spacing: 0;
    background-color: #F9F9F9;
}
/*table {
    border-collapse: separate;
    border-spacing: 0;
}*/
/*table, td {
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
}*/

table.table th {
    background-color: #4C4D4F;
    color: #D0D1D3;
}

table.table td{
    border: 1px solid #D6D6D6;
}

table.table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

table.table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

.navbar-custom{
    /*background-color: #1A9DD3;*/
}

