*:focus {
    outline: none;
}
a:visited, a:hover, a:active, a:link{
    text-decoration: none;
}

body {
    padding-top: 75px;
    padding-bottom: 20px;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #373a3c;
}

label {
    font-weight: normal;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/***********************************/
/*  Generic stuff                  */
@media (min-width: 768px) {
    html, body {
        width: 100% !important;
        height: 100% !important;
    }
}
    body{
        background-color: #F0F0F0!important; 
    }
    .body-content{
        max-width: 100%!important;
        height: 100%!important;
        
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .navbar, .navbar-inverse ,.navbar-fixed-top {
        border: 0px solid transparent;
    }

/***********************************/
/* Simple accordion menu           */
@media (min-width: 992px) {
    .accordion-menu-container {
        height: 100%;
    }
}
    .accordion-menu-container {
        background-color: #272727; /*   3A3B3D, 259AC5, 272727 */
        padding: 75px 0px 0px 0px;
    }

    .accordion-menu-container > .container{
        padding: 0px;
    }

    ul.accordion-menu,
    ul.accordion-menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .accordion-menu {
        font-family: Verdana;
        font-size: 14px;
    }

    .accordion-menu i.fa
    {
        font-weight: normal;
        /*font-size: 14px;*/
    }

    .accordion-menu-logo-item{
        padding: 10px;
        text-align:center;
        /*background-color: #343537*/
    }


    .accordion-menu-item {
        /*border: 1px solid #eeeeee;*/
        display: block;
        border-bottom: 1px solid #363636;
        /*margin-bottom: 5px;*/
        /*background-color: #343537;*/
    }

    a.accordion-menu-main-item-text {
        /*font-weight: bold;*/
        color: #ffffff; /*  707173  */
        display: block;

        padding: 10px;
        margin-bottom: 0;
        /*background-color: #f5f5f5;*/
        /*text-transform: uppercase;*/
    }

    .accordion-sub-menu {
        display: none;

        position: relative;
        
        background-color: #363636; /* 3A3B3D, 158AB5 */

        /*margin-bottom: .75rem;*/
        /*background-color: #fff;*/
        /*border-radius: .25rem;*/
    }

    .accordion-sub-menu-item {
        display: block;
    }

    a.accordion-sub-menu-item-text {
        padding: 10px;
        display: block;
        color: #ffffff; /*    D0D1D3, */
    }

    a.accordion-sub-menu-item-text:hover{
        /*color: #03CB96;*/
        border-right: 5px solid #1A9DD3; /*  03CB96, */
        padding-right: 5px;
    }

    a.accordion-sub-menu-item-text.marked {
        border-left: 5px solid #1A9DD3; /*  03CB96, */
        padding-left: 5px;
    }

    /*a.accordion-sub-menu-item-text:hover,
    a.accordion-sub-menu-item-text.marked{
        width: 0; 
        height: 0; 
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
  
        border-left: 60px solid green;
    }*/

/* END Simple accordion menu        */

table.table{
    /*border-collapse:collapse;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border-spacing: 0;
    background-color: #F9F9F9;*/
}

table.table th {
    /*background-color: #4C4D4F;
    color: #D0D1D3;*/
}

table.table td{
    /*border: 1px solid #D6D6D6;*/
}

table.table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

table.table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

@media (min-width: 768px) {
    .navbar-custom .navbar-nav > li > a {
        color: #ffffff;
        font-size: 16px;
    }
    .navbar-custom{
        background-color: #1A9DD3; /*   1A9DD3,     */
    }
    .navbar-nav-custom > li > a{
        height: 75px;
    }
    .navbar-custom .navbar-nav > li > a:hover{
        color: #ffffff;
        /*background-color: #49B9E9;*/
    }

    .navbar-custom > div > div > ul > li a {
        position:relative;
    }

    .navbar-custom > div > div > ul > li a{
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 75px;
    }

    /*.navbar-custom .navbar-nav > li:hover .mark-active{
        position:absolute;
        top: 0px;
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
  
        border-top: 5px solid #F0F0F0;
        left: 50%;
        margin-left:-5px;
    }*/

    .navbar-custom .nav-active .mark-active{
        position:absolute;
        bottom: 0px;
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
  
        border-bottom: 10px solid #F0F0F0;
        left: 50%;
        margin-left:-15px;
    }
}
.nav-logo{
    /*background-color: #259AC5;*/
    min-height: 75px;
    height: 100%;
    text-align:center;
}

.nav-logo a {
    display: block; 
    padding: 10px;
}

.nav-logo > a > img {
    height: 50px;
    width: auto;
    /*width: auto;*/
    /*border-width: 0px;
    width: 100%;
    max-width: 129px;*/
}

.accordion-menu-logo-item > a > img {
    border-width: 0px;
    width: 100%;
    max-width: 129px;
}

.page-content{
    padding-top: 16px;
}

.row{
    margin-bottom: 8px;
}

fieldset.custom-fieldset {
    padding-bottom: 16px;
}

@media (min-width: 576px){
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-inline .form-group .input-group {
        display: inline-table;
    }

    .form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {
        width: auto;
    }
}

.selected {
    background-color: #f5f5f5;
    font-weight:bold;
}


.alert{
    position: absolute;
    z-index: 10000;
    bottom: 25px;
    right: 50px;
}

#__ajaxFeedbackMessage{
    display: none;
}

#__ajaxFeedbackMessage .message-level{
    font-size: 24px;
    line-height: 24px;
    vertical-align: top;
    margin-right: 16px;
}

#__ajaxFeedbackMessage .message-text{
    line-height: 24px;
    vertical-align: middle;
    margin-right: 16px;
}

.ng-table-pager.ng-scope {
    padding: 8px;
}

ul.pagination.ng-table-pagination.ng-scope {
    margin: 0px;
}

#scrollable-area {
    height: 250px;
    overflow-y: auto;
}

.table-scroll{
    width: 100%;
}






/*div#__ajaxFeedbackMessage {
    border: 1px solid #00aa00;
    background-color: #aaddaa;
    border-radius: 5px;
    padding: 15px 20px;
    display: table-cell;
    min-width: 150px;
    max-width: 300px;
    height: 100px;
    vertical-align: middle;
    box-shadow: 0px 0px 20px -2px #000;
    position: absolute;
    z-index: 1000000;
    top: 50px;
    right: 25px;
}*/


