@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/App/Controllers/Account/AccountController.js"></script>
<script src="~/Scripts/App/Factories/AuthService.js"></script>
<script src="~/Scripts/App/Factories/AuthInterceptorService.js"></script>

<div class="col-md-4 col-md-offset-4">
    <div ng-controller="AccountController" class="panel panel-primary" style="margin-top:300px">
        <div class=" panel-heading">Log in</div>
        <div class="form-group panel-body">
            <h5 ng-show="isAuth">Hello {{username}}</h5>

            <form name="uName" ng-cloak ng-show="!isAuth" ng-class="{'has-error': uName.usName.$invalid, 'has-success': uName.usName.$valid}" class="col-md-6 col-md-offset-3" style="margin-top:5px">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" name="usName" ng-model="loginData.username" placeholder="Username" required />
                </div>
            </form>
            <form name="psWord" ng-cloak ng-show="!isAuth" ng-class="{'has-error': psWord.pWord.$invalid , 'has-success': psWord.pWord.$valid}" class="col-md-6 col-md-offset-3" style="margin-top:5px">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" type="password" name="pWord" ng-model="loginData.password" placeholder="Password" required />
                </div>
            </form>

            <form name="dbase" ng-cloak ng-show="!isAuth" class="col-md-6 col-md-offset-3" style="margin-top:5px">
                <select name="dbSel" id="db" class="form-control selectpicker">
                    <option value="" selected disabled>Database</option>
                    <option>04-U</option>

                </select>
                <button ng-click="logIn()" ng-cloak ng-show="!isAuth" style="margin-top:5px" type="button" class="btn btn-primary col-md-4 col-md-offset-2"
                        ng-disabled="uName.usName.$invalid ||
                                     psWord.pWord.$invalid">

                    Log in
                </button>

                <button class="btn btn-primary col-md-4" style="margin-top:5px; margin-left: 4px" title="Add" data-toggle="modal" data-target="#modalDialogRegister">Register</button>
            </form>
            <button class="btn btn-primary col-md-4 col-md-offset-2" style="margin-top:5px" type="button" ng-click="logOut()" ng-cloak ng-show="isAuth">Log out</button>


        </div>
        <div class="modal fade" id="modalDialogRegister" tabindex="-1" role="dialog" aria-labelledby="modalDialogLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalDialogLabel">Register</h4>
                    </div>
                    <div class="modal-body">
                        <form name="registerUser" ng-class="{'has-error': psWord.pWord.$invalid , 'has-success': psWord.pWord.$valid}" class="col-md-6 col-md-offset-3" style="margin-top:5px">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="usernameR" placeholder="Username" required />
                                <input class="form-control" type="password" ng-model="passwordR" placeholder="Password" required />
                                <input class="form-control" type="password" ng-model="confPasswordR" placeholder="Confirm Password" required />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="glyphicon glyphicon-log-in" ng-click=" register()">Create Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

