

<h2 >Invoice</h2>
<ul class="accordion-menu">
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Workshop invoice</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#search" class="accordion-sub-menu-item-text">Owerview</a></li>
        <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text">Maintenance</a></li>
    </ul>
</li>
<li class="accordion-menu-item">
    <a href="#" class="accordion-menu-main-item-text">Counter sales invoice</a>
    <ul class="accordion-sub-menu">
        <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text">Owerview</a></li>
        <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text">Maintenance</a></li>
    </ul>
</li>
<li class="accordion-menu-item">
    <a href="#" class="accordion-menu-main-item-text">General invoice</a>
    <ul class="accordion-sub-menu">
        <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text">Owerview</a></li>
        <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text">Maintenance</a></li>
    </ul>
</li>
</ul>