

<h2 style="color:white">&nbsp;Invoice</h2>
<ul class="accordion-menu">
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Workshop invoice</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#WsInvoiceOverview" class="accordion-sub-menu-item-text"><i class="fa fa-search" aria-hidden="true"></i> Overview</a></li>
        <li class="accordion-sub-menu-item"><a href="#WsInvoiceMaintenance" class="accordion-sub-menu-item-text"><i class="fa fa-cog" aria-hidden="true"></i> Maintenance</a></li>
    </ul>
</li>
<li class="accordion-menu-item">
    <a href="#" class="accordion-menu-main-item-text">Counter sales invoice</a>
    <ul class="accordion-sub-menu">
        <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-search" aria-hidden="true"></i> Overview</a></li>
        <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-cog" aria-hidden="true"></i> Maintenance</a></li>
    </ul>
</li>
<li class="accordion-menu-item">
    <a href="#" class="accordion-menu-main-item-text">General invoice</a>
    <ul class="accordion-sub-menu">
        <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-search" aria-hidden="true"></i> Overview</a></li>
        <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-cog" aria-hidden="true"></i> Maintenance</a></li>
    </ul>
</li>
</ul>