<div ng-controller="InvoiceCtrl">
    <button ng-click="searchInvoices()">OK</button>

    <table>
        <tr ng-repeat="x in records">
            <td>{{x.Name}}</td>
            <td>{{x.Country}}</td>
        </tr>
    </table>
</div>
