
<script src="~/Scripts/App/Controllers/Invoice/InvoiceSearchController.js"></script>


<div ng-controller="InvoiceSearchCtrl">
    <button ng-click="searchInvoices()">Search</button>

    <table>
        <tr ng-repeat="x in records">
            <td>{{x.Name}}</td>
            <td>{{x.Country}}</td>
        </tr>
    </table>
</div>
