<div ng-controller="SalesController">

    <div id="first_row" class="row">
        <div id="model" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6 text-left">New Sale</div>
                        <div class="col-md-6 text-right">Status: {{status}}</div>
                    </div>
                </div>
                <div class="form-group panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="salesman">Salesman:</label>
                                    <input type="text" class="form-control" id="salesmanId">
                                </div>
                                <div class="form-group">
                                    <label for="stuff">Stuff:</label>
                                    <input type="text" class="form-control" id="stuff">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <table id="salesValues" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Type:</th>
                                        <th>Info:</th>
                                        <th>ID:</th>
                                        <th>Price:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="r in record">
                                        <td>{{r.Type}} </td>
                                        <td>{{r.Name}}</td>
                                        <td>{{r.Number}}</td>
                                        <td>{{r.Price}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total Cost: {{totalCost}}</td>
                                    </tr>
                                </tfoot>
                                
                            </table>
                            <p></p>
                            
                        </div>
                    </div>
                    
                </div> 
            </div>
        </div>
    </div>
    <uib-tabset active="pane.active">
        <uib-tab ng-repeat="pane in panes track by $index" heading="{{pane.title}}" select="active($index)">
            <div ng-include="pane.template"></div>
        </uib-tab>
    </uib-tabset>
</div>