<div ng-controller="SalesController" ng-init="getSales()">

    <div id="first_row" class="row">
        <div class="col-md-12">
            <table id="salesValues" class="table table-striped">
                <thead>
                    <tr>
                        <th>Type:</th>
                        <th>Info:</th>
                        <th>ID:</th>
                        <th>Amount:</th>
                        <th>Price:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in allSales">
                        <td>{{r.Id}} </td>
                        <td>{{r.Name}}</td>
                        <td>{{r.Number}}</td>
                        <td>
                            <a class="btn " ng-click="editSale(this.r)" href="Sales#/newSale"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                        <td>{{r.Price}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Total Cost: {{totalCost}}</td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>

