<div ng-controller="SalesController" ng-init="getSales()">

    <div id="first_row" class="row">
        <div class="col-md-12">
            <table id="salesValues" class="table table-striped">
                <thead>
                    <tr>
                        <th>Id:</th>
                        <th>Salesman:</th>
                        <th>Payer:</th>
                        <th>Edit:</th>
                        <th>Delete:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in allSales">
                        <td>{{r.Id}} </td>
                        <td>{{r.Salesman.LastName}} {{r.Salesman.FirstName}}</td>
                        <td>{{r.Payers[0].LastName}} {{r.Payers[0].FirstName}}</td>
                        <td>
                            <a class="btn " ng-click="editSale(this.r)"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                        <td>
                            <a class="btn " ng-click="DeleteSale(this.r.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                        <td>{{r.Price}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

