<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Boolsheet</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        @RenderBody()
    </div>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-ui-router.min.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
@Scripts.Render("~/bundles/MvcApplication2")
</body>
</html>

