<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Boolsheet</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        @RenderBody()
    </div>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-ui-router.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
@Scripts.Render("~/bundles/MvcApplication2")
</body>
</html>

