

<div id="first_row" class="row">
    <div id="model" class="col-md-4">
        <div class="panel panel-default">
            <div class="form-group panel-body slidebody">
                <label for="brandSelect">Brand:</label>
                <select class="form-control" id="brandSelect" ng-model="selectedBrand" ng-change="brandSelector(); brandEnabler();" ng-init="initializeBrands()">
                    <option ng-repeat="b in brands">{{b.Name}}</option>
                </select>

                <label for="modelyearSelect">Model Year:</label>
                <select class="form-control" id="modelyearSelect" ng-disabled="brandDisabled" ng-model="selectedModelYear" ng-change="modelYearSelector(); modelEnabler()">
                    <option ng-repeat="mod in modelType track by $index">{{mod}}</option>
                </select>

                <label for="modelSelect">Model:</label>
                <select class="form-control" id="modelSelect" ng-disabled="modelDisabled" ng-model="selectedModel" ng-change="modelSelector(); extendElement('enginePanel')">
                    <option ng-repeat="y in modelYear track by $index">{{y}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div id="second_row" class="row">
    <div id="engine" class="col-md-4">
        <div class="panel panel-default">
            <panelheader data-title="Engine"></panelheader>
            <div class="form-group panel-body default-collapsed" id="enginePanel">

                <label for="enginetype">Type:</label>
                <select class="form-control" id="enginetype" ng-model="selectedEngineType" ng-change="engineGroupEnabler()">
                    <option ng-repeat="engType in engineType">{{engType}}</option>
                </select>
                <label for="enginegroup">Engine group:</label>
                <select class="form-control" id="enginegroup" ng-disabled="engineGroupDisabled" ng-model="selectedEngineGroup" ng-change="engineDescEnabler()">
                    <option ng-repeat="engGroup in engineGroup">{{engGroup}}</option>
                </select>
                <label for="enginedesc">Description:</label>
                <select class="form-control" id="enginedesc" ng-disabled="engineDescDisabled" ng-model="selectedEngineDesc" ng-change="extendElement('transmissionPanel')">
                    <option></option>
                    <option ng-repeat="engDesc in engineDescription">{{engDesc}}</option>
                </select>
            </div>
        </div>
    </div>
    <div id="transmission" class="col-md-4">
        <div class="panel panel-default">
            <panelheader data-title="Transmission"></panelheader>
            <div class="form-group panel-body default-collapsed" id="transmissionPanel">
                <label for="transmissiontype">Type:</label>
                <select class="form-control" id="transmissiontype" ng-model="selectedTransmissionType" ng-change="transmissionGroupEnabler()">
                    <option ng-repeat="transType in transmissionType">{{transType}}</option>
                </select>
                <label for="transmissiongroup">Transmission group:</label>
                <select class="form-control" id="transmissiongroup" ng-disabled="transmissionGroupDisabled" ng-model="selectedTransmissionGroup" ng-change="transmissionDescriptionEnabler()">
                    <option ng-repeat="transGrp in transmissionGroup">{{transGrp}}</option>
                </select>
                <label for="transmissionDesc">Description:</label>
                <select class="form-control" id="transmissionDesc" ng-disabled="transmissionDescriptionDisabled" ng-model="selectedTransmissionDesc" ng-change="extendElement('colorPanel')">
                    <option ng-repeat="transDesc in transmissionDescription">{{transDesc}}</option>
                </select>
            </div>
        </div>
    </div>
    <div id="color" class="col-md-4">
        <div class="panel panel-default">
            <panelheader data-title="Exterior"></panelheader>
            <div class="form-group panel-body default-collapsed" id="colorPanel">
                <label for="painttypeSelect">Paint type:</label>
                <select class="form-control" id="painttypeSelect" ng-model="selectedPaintType" ng-change="paintDescriptionEnabler()">
                    <option ng-repeat="pType in paintType">{{pType}}</option>
                </select>
                <label for="paintdescSelect">Paint description:</label>
                <select class="form-control" id="paintdescSelect" ng-disabled="paintDescriptionDisabled" ng-model="selectedPaintDescription" ng-change="paintGroupEnabler()">
                    <option ng-repeat="pDesc in paintDescription">{{pDesc}}</option>
                </select>
                <label for="groupSelect">Group</label>
                <select class="form-control" id="groupSelect" ng-disabled="paintGroupDisabled" ng-model="selectedPaintGroup" ng-change="extendElement('interiorPanel')">
                    <option ng-repeat="pGroup in paintGroup">{{pGroup}}</option>
                </select>
            </div>
        </div>
    </div>
    <div id="interior" class="col-md-4">
        <div class="panel panel-default">
            <panelheader data-title="Interior"></panelheader>
            <div class="form-group panel-body default-collapsed" id="interiorPanel">
                <label for="material">Material:</label>
                <select class="form-control" id="material" ng-model="selectedInteriorMaterial" ng-change="interiorDescEnabler()">
                    <option ng-repeat="iMaterial in interiorMaterial">{{iMaterial}}</option>
                </select>
                <label for="colordesc">Color description:</label>
                <select class="form-control" id="colordesc" ng-disabled="interiorDescDisabled" ng-model="selectedInteriorColorDesc" ng-change="interiorColorEnabler()">
                    <option ng-repeat="iDesc in interiorDescription">{{iDesc}}</option>
                </select>
                <label for="intcolor">Color:</label>
                <select class="form-control" id="intcolor" ng-disabled="interiorColorDisabled" ng-model="selectedInteriorColor" ng-change="saveEnabler()">
                    <option ng-repeat="iColor in interiorColor">{{iColor}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<button type="button" id="saveButton" class="btn btn-primary btn-md" ng-click="showPopup('saveButton'); saveData()" data-toggle="popover" data-placement="left" data-content="Sucessefully saved">
    Save
    <span class="glyphicon glyphicon-floppy-save"></span>
</button>
<button type="button" class="btn btn-warning btn-md" ng-click="reloadRoute()">
    Discard
    <span class="glyphicon glyphicon-remove"></span>
</button>
