

<div id="first_row" class="row">

    <div id="model" class="col-md-4">
        <div class="panel panel-default">
            <panelheader data-title="Model"></panelheader>
            <div class="form-group panel-body slidebody">
                

                <label for="brandSelect">Brand:</label>
                <select class="form-control" id="brandSelect" ng-model="selectedBrand" ng-change="brandSelector(); brandEnabler()">
                    <option value="Volvo">Volvo</option>
                    <option value="Ford">Ford</option>
                </select>

                <label for="modelyearSelect">Model Year:</label>
                <select class="form-control" id="modelyearSelect" ng-disabled="brandDisabled">
                    <option ng-repeat="y in year">{{y}}</option>
                </select>

                <label for="modelSelect">Model:</label>
                <select class="form-control" id="modelSelect" ng-disabled="brandDisabled">
                    <option ng-repeat="mod in carmodel">{{mod}}</option>
                </select>

                <label for="typeSelect">Type:</label>
                <select class="form-control" id="typeSelect" ng-disabled="brandDisabled">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
    </div>


</div>
<div id="second_row" class="row">
    <div id="engine" class="col-md-4">
        <div class="panel panel-default">
            <panelheader data-title="Engine"></panelheader>
            <div class="form-group panel-body default-collapsed">

                <label for="enginetype">Type:</label>
                <select class="form-control" id="enginetype">
                    <option>Diesel</option>
                    <option>Petrol</option>
                </select>

                <label for="enginegroup">Engine group:</label>
                <select class="form-control" id="enginegroup">
                    <option>Group 1</option>
                    <option>Group 2</option>
                </select>

                <label for="enginedesc">Description:</label>
                <select class="form-control" id="enginedesc">
                    <option>Very good engine yes</option>
                    <option>Very bad engine yes</option>
                </select>

            </div>
        </div>
    </div>

    <div id="transmission" class="col-md-4">
        <div class="panel panel-default">
            <panelheader data-title="Transmission"></panelheader>
            <div class="form-group panel-body default-collapsed">

                <label for="transmissiontype">Type:</label>
                <select class="form-control" id="transmissiontype">
                    <option>Automatic</option>
                    <option>Manual</option>
                </select>

                <label for="transmissiongroup">Transmission group:</label>
                <select class="form-control" id="transmissiongroup">
                    <option>Group 1</option>
                    <option>Group 2</option>
                </select>

                <label for="transmissionDesc">Description:</label>
                <select class="form-control" id="transmissionDesc">
                    <option>Very good transmission yes</option>
                    <option>Very bad transmission yes</option>
                </select>

            </div>
        </div>
    </div>

    <div id="color" class="col-md-4">
        <div class="panel panel-default">
            <panelheader data-title="Exterior"></panelheader>
            <div class="form-group panel-body default-collapsed">

                <label for="painttypeSelect">Paint type:</label>
                <select class="form-control" id="painttypeSelect">
                    <option>Matte white</option>
                    <option>Clear black</option>
                    <option>Red</option>
                </select>

                <label for="paintdescSelect">Paint description:</label>
                <select class="form-control" id="paintdescSelect">
                    <option>Matte white powderpainted</option>
                    <option>Clear black</option>
                </select>

                <label for="groupSelect">Group</label>
                <select class="form-control" id="groupSelect">
                    <option>XC-90</option>
                    <option>V-70</option>
                </select>

            </div>
        </div>
    </div>

    <div id="interior" class="col-md-4">
        <div class="panel panel-default">
            <panelheader data-title="Interior"></panelheader>
            <div class="form-group panel-body default-collapsed">

                <label for="material">Material:</label>
                <select class="form-control" id="material">
                    <option>Leather</option>
                    <option>standard</option>
                </select>

                <label for="colordesc">Color description:</label>
                <select class="form-control" id="colordesc">
                    <option>White leather</option>
                    <option>Black leather</option>
                </select>

                <label for="intcolor">Color:</label>
                <select class="form-control" id="intcolor">
                    <option>White</option>
                    <option>Black</option>
                </select>

            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary btn-md">Save</button>
<button type="button" class="btn btn-warning btn-md">Discard</button>
