
<div ng-controller="VehicleMaintenanceController" class="container">
    
    <form>
        <div class="input-group">
            <div class="input-group-btn">
                <input type="text" class="form-control" placeholder="Search" ng-submit="getNewVehicles()">
                <button class="btn btn-default" type="submit" ng-click="getNewVehicles()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>

    <div ng-show="records.length">
        <table ng-table="newVehicleTable" class="table table-striped table-hover">
            <tr ng-repeat="record in $data">
                <td data-title="'ID'">{{record.ID}}</td>
                <td data-title="'Brand'">{{record.Brand}}</td>
                <td data-title="'Model Year'">{{record.ModelYear}}</td>
                <td data-title="'Model'">{{record.Model}}</td>
                <td data-title="'Engine Type'">{{record.EngineType}}</td>
                <td data-title="'Engine Group'">{{record.EngineGroup}}</td>
                <td data-title="'Engine Description'">{{record.EngineDescription}}</td>
                <td data-title="'Transmission Type'">{{record.TransmissionType}}</td>
                <td data-title="'Transmission Group'">{{record.TransmissionGroup}}</td>
                <td data-title="'Transmission Description'">{{record.TransmissionDescription}}</td>
                <td data-title="'Paint Type'">{{record.PaintType}}</td>
                <td data-title="'Paint Description'">{{record.PaintDescription}}</td>
                <td data-title="'Paint Group'">{{record.PaintGroup}}</td>
                <td data-title="'Interior Material'">{{record.InteriorMaterial}}</td>
                <td data-title="'Interior Color Description'">{{record.InteriorColorDescription}}</td>
                <td data-title="'Interior Color'">{{record.InteriorColor}}</td>
                <td><button class="btn btn-warning">Delete</button></td>
            </tr>
        </table>
    </div>
</div>