<h3>Search Invoice</h3>

<div ng-controller="InvoiceSearchCtrl">
    <button ng-click="searchInvoices()">Search</button>

    <table class="table table-hover" ng-show="records.length">
        <tr>
            <th>Invoice number</th>
            <th>Invoice state</th>
            <th>Wo number</th>
            <th>Job number</th>
            <th>Payer</th>
            <th>Reg number</th>
            <th>Customer number</th>
            <th>Invoice date</th>
            <th>Due date</th>
            <th>Debit/Credit</th>
            <th>Vat</th>
            <th>Invoice amount</th>
        </tr>
        <tr ng-repeat="record in records">
            <td>{{record.InvoiceNumber}}</td>
            <td>{{record.InvoiceState}}</td>
            <td>{{record.WoNumber}}</td>
            <td>{{record.JobNumber}}</td>
            <td>{{record.Payer}}</td>
            <td>{{record.RegNumber}}</td>
            <td>{{record.CustomerNumber}}</td>
            <td>{{record.InvoiceDate}}</td>
            <td>{{record.DueDate}}</td>
            <td>{{record.DebitCredit}}</td>
            <td>{{record.Vat}}</td>
            <td>{{record.InvoiceAmount}}</td>
        </tr>
    </table>
</div>


