






<div class="panel panel-primary" id="frame" ng-show="frameIsVisible">

    <div class=" panel-heading" id="header" ng-init="fullScreen()">
        {{title}}
        <button class="btn btn-danger btn-sm pull-right" ng-click="exitRequest()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>

        <button class="btn btn-info btn-sm pull-right" style="margin-left:4px; margin-right:5px;" ng-click="fullScreen()">
            <span class="glyphicon glyphicon-fullscreen"></span>
        </button>


        <button class="btn btn-info btn-sm pull-right" ng-click="minimize()">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>


    </div>


    <div class="form-group panel-body" id="framebody">
        <div ng-transclude>

        </div>
    </div>

</div>
