

<div ng-show="frameIsVisible" class="framecontainer">
    <div class="panel panel-primary resizable" id="frame">

        <div class=" panel-heading" id="frameheader"  style="cursor:move;">
            {{title}}
            <button class="btn btn-danger btn-sm pull-right" ng-click="exitRequest()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

            <button class="btn btn-info btn-sm pull-right" style="margin-left:4px; margin-right:5px;" ng-click="fullScreen()">
                <span class="glyphicon glyphicon-fullscreen"></span>
            </button>


            <button class="btn btn-info btn-sm pull-right" ng-click="minimize()">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>


        </div>


        <div class="form-group panel-body" style="overflow:auto;" id="framebody">
            <div ng-transclude>

            </div>
        </div>


    </div>
    <p class="resizer" id="resize" style="cursor:ns-resize" ng-show="!frameIsMinimized"></p>
    <p class="resizer" style="float: left; height:300px; cursor:ew-resize;" id="right-resize" ng-show="!frameIsMinimized"></p>
    <p class="resizer" style="float: left;" id="corner-resize" ng-show="!frameIsMinimized"></p>
</div>
