
<div>

    <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li class="active"><a href="#">Mechanics</a></li>
        <li><a href="#">Packages</a></li>
        <li><a href="#">Style</a></li>
        <li><a href="#">Extra</a></li>
    </ul>

    <table class="table">
        <!--Table headline-->
        <tr class="active">
            <th>Component</th>
            <th>Customization</th>
            <th>Type</th>
            <th>Price</th>
        </tr>

        <!--First row-->
        <tr>
            <td>Engine</td>
            <td>Default</td>
            <td>V6 Turbo Diesel</td>
            <td>26500</td>
        </tr>
        <!--Second row-->
        <tr>
            <td>Exhaust</td>
            <td>Custom</td>
            <td>Dual rear exit</td>
            <td>4500</td>

        </tr>

    </table>
</div>