

<h2>Vehicle</h2>
<ul class="accordion-menu">
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Vehicle - Sales</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item">
                <a href="#newVehicle" class="accordion-sub-menu-item-text">
                    <span class="glyphicon glyphicon-road"></span>
                    New vehicle
                </a>

            </li>
            <li class="accordion-sub-menu-item">
                <a href="#vehicleMaintenance" class="accordion-sub-menu-item-text">
                    <span class="glyphicon glyphicon-wrench"></span>
                    New vehicle maintenance
                </a>

            </li>

            <li class="accordion-sub-menu-item">
                <a href="#vehicleExtensions" class="accordion-sub-menu-item-text">
                    <span class="glyphicon glyphicon-cog"></span>
                    Vehicle extensions
                </a>

            </li>
        </ul>
    </li>

    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Vehicle - Administration</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item">
                <a href="#vehicleValuation" class="accordion-sub-menu-item-text">
                    <span class="glyphicon glyphicon-usd"></span>
                    Vehicle valuation
                </a>

            </li>
            <li class="accordion-sub-menu-item">
                <a href="#createInventoryRecord" class="accordion-sub-menu-item-text">
                    <span class="glyphicon glyphicon-stats"></span>
                    Create inventory record
                </a>

            </li>

            <li class="accordion-sub-menu-item">
                <a href="#inventoryAdjustments" class="accordion-sub-menu-item-text">
                    <span class="glyphicon glyphicon-cog"></span>
                    Inventory adjustments
                </a>

            </li>
        </ul>
    </li>

</ul>
