

<h2>Vehicle</h2>
<ul class="accordion-menu">
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Vehicle - Sales</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#newVehicle" class="accordion-sub-menu-item-text">New vehicles</a></li>
            <li class="accordion-sub-menu-item"><a href="#usedVehicle" class="accordion-sub-menu-item-text">Used vehicles</a></li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Menyval B</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text">Menu 1</a></li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Menyval C</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text">Menu 1</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text">Menu 2</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text">Menu 5</a></li>
        </ul>
    </li>
</ul>

