
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/App/Controllers/Vehicle/VehicleController.js"></script>

<div class="row">
    <div class="col-md-2" style="border-right: 1px solid #eeeeee;">
        <div class="container">
            @{
                Html.RenderPartial("_Menu");
            }
        </div>
    </div>
    <div class="col-md-10">
        <div ng-view class="container">
           
        </div>
    </div>
</div>