
<script src="~/Scripts/App/Controllers/Vehicle/VehicleController.js"></script>
<script src="~/Scripts/App/Directives/Vehicle/NewVehicleDirective.js"></script>

<div class="col-md-2 accordion-menu-container">
    <div class="container">
        @{
            Html.RenderPartial("_Menu");
        }
    </div>
</div>
<div class="col-md-10 page-content">
    <div ng-view class="container">

    </div>


</div>




