

<ul class="accordion-menu">
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Sale</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#newSale" class="accordion-sub-menu-item-text"><i class="fa fa-hand-spock-o" aria-hidden="true"></i>New Sale</a></li>
            <li class="accordion-sub-menu-item"><a href="#oldSale" class="accordion-sub-menu-item-text"><i class="fa fa-hand-lizard-o" aria-hidden="true"></i>Search Sales</a></li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Payer/Salesman</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#newPayer" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i>New Payer</a></li>
            <li class="accordion-sub-menu-item"><a href="#newSalesman" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i>New Salesman</a></li>
            <li class="accordion-sub-menu-item"><a href="#oldSalesmen" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i>Search Salesmen</a></li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Stuff</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-paper-plane-o" aria-hidden="true"></i> Menu 1</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-line-chart" aria-hidden="true"></i> Menu 2</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-heart-o" aria-hidden="true"></i> Menu 5</a></li>
        </ul>
    </li>
</ul>









