
<div ng-controller="SalesController">
    <div>
        <div class="col-md-12" style="margin-left: 0px; margin-right: 0px;">

            <br />
            <div class="row">
                <div class="col-xs-6 text-left"><b>Select Parts to sell</b></div>
            </div>

            <div class="control-group panel-body">
                <form class="form-horizontal" name="partForm">
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="artNum" placeholder="Article Number" style="margin-right:0px; float:left" />
                        <button style="margin-left:0px" class="btn btn-primary" type="button" ng-disabled="!(artNum || artName)" ng-click="GetSearchParts()"><i class=" glyphicon glyphicon-search"></i></button>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="artName" placeholder="Article Name" style="margin-right:0px; float:left" />
                        <button style="margin-left:0px" class="btn btn-primary" type="button" ng-disabled="!(artNum || artName)" ng-click="GetSearchParts()"><i class=" glyphicon glyphicon-search"></i></button>
                    </div>


                    <!--<button class="btn btn-group" ng-click="GetSearchParts()" ><i class="glyphicon glyphicon-search"></i>Search</button>-->
                    
                    <table ng-show="$data.length" class="table table-hover" ng-table="PartsTable">
                        <tr ng-repeat="r in $data">
                            <td data-title="'ItemId'" sortable="'ItemId'">{{r.ItemId}} </td>
                            <td data-title="'ItemName'" sortable="'ItemName'">{{r.ItemName}}</td>
                            <td data-title="'ItemPrice'" sortable="'ItemPrice'">{{r.ItemPrice}}</td>
                            <td><a class="btn " title="Add" ng-click="addRow()"><span class="glyphicon glyphicon-plus"></span></a></td>
                        </tr>
                    </table>
                    

                </form>
            </div>
        </div>
    </div>
</div>

