
<div ng-controller="SalesController">
    <div>
        <div id="model" class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-left">Select Parts to sell</div>
                    </div>
                </div>
                <div class="control-group panel-body">
                    <form class="form-horizontal" name="partForm">              
                        <div class="form-group">
                            <label for="ArtNum">Article Number:</label>
                            <input class="form-control" type="text" ng-model="artNum" />
                        </div>
                        <div class="form-group">
                            <label for="ArtName">Article Name:</label>
                            <input class="form-control" type="text" ng-model="artName" />
                        </div>
                        <button class="btn btn-group" ng-click="GetSearchParts()" ng-disabled="!(artNum || artName)">Search</button>
                        <div id="scrollable-area" fixed-table-headers="scrollable-area" ng-table="PartsTable">
                            <table ng-show="$data.length" class="table table-hover table-scroll">
                                <tr ng-repeat="r in $data">
                                    <td data-title="'ItemId'" sortable="'ItemId'">{{r.ItemId}} </td>
                                    <td data-title="'ItemName'" sortable="'ItemName'">{{r.ItemName}}</td>
                                    <td data-title="'ItemPrice'" sortable="'ItemPrice'">{{r.ItemPrice}}</td>
                                    <td><a class="btn " title="Add" ng-click="addRow()"><span class="glyphicon glyphicon-plus"></span></a></td>
                                </tr>
                            </table>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
