<ul class="accordion-menu">
    <li class="accordion-menu-item">
        <a href="#WOH_Select" class="accordion-menu-main-item-text">Workorder</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#WOH_Select" class="accordion-sub-menu-item-text">Select Workorder</a></li>
            <li class="accordion-sub-menu-item"><a href="#WOH_CustData" class="accordion-sub-menu-item-text">Customer Data</a></li>
            <li class="accordion-sub-menu-item"><a href="#WOH_Manage" class="accordion-sub-menu-item-text">Manage Workorder</a></li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#WOJ_Select" class="accordion-menu-main-item-text">Jobs</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#WOJ_Select" class="accordion-sub-menu-item-text">Select WO Job</a></li>
            <li class="accordion-sub-menu-item"><a href="#WOJ_Manage" class="accordion-sub-menu-item-text">Manage WO Job</a></li>
            <li class="accordion-sub-menu-item"><a href="#WOJ_Kit" class="accordion-sub-menu-item-text">Kit</a></li>
            <li class="accordion-sub-menu-item"><a href="#WOJ_Operations" class="accordion-sub-menu-item-text">Operations</a></li>
            <li class="accordion-sub-menu-item"><a href="#WOJ_Parts" class="accordion-sub-menu-item-text">Parts</a></li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#WOH_Finalize" class="accordion-menu-main-item-text">Finalize</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#WOH_Finalize" class="accordion-sub-menu-item-text">Finalize Workorder</a></li>
        </ul>
    </li>
</ul>