@{
    AjaxOptions options = new AjaxOptions { UpdateTargetId = "WOContent" };
}


<ul class="accordion-menu">
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Workorder</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item">@Ajax.ActionLink("Customer Data", "WOJ_CustData", new { }, options)</li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Workorder Jobs</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item">@Ajax.ActionLink("Kit", "WOJob_Kit", new { }, options)</li>
            <li class="accordion-sub-menu-item">@Ajax.ActionLink("Opetrations", "WOJob_Operations", new { }, options)</li>
            <li class="accordion-sub-menu-item">@Ajax.ActionLink("Parts", "WOJob_Parts", new { }, options)</li>
        </ul>
    </li>
</ul>