<h2>Manage Workorder</h2>

<div style="border: dotted">
    <p>Status</p>
    <input type="text" />
    <p>Date Planned</p>
    <input type="date" />
    <p>Date Recieved</p>
    <input type="checkbox" />
    <input type="date" />
</div>

<div style="border: dotted">
    <p>Current Milage</p>
    <input type="text" />
    <p>Planned Machanic</p>
    <input type="text" />
    <input type="text" />
</div>

<div>
    <input type="button" value="Finalize.." />
    <input type="button" value="Quick Finilize.." />
</div>