@{
    ViewBag.Title = "Workorder Job Manage";
}

<h2>Workorder Job Manage</h2>

<div style="border: dotted">
    <p>Status</p>
    <input type="text" />
</div>

<div style="border: dotted">
    <input type="checkbox" />
    <p>Job Done</p>
    <input type="date" />
</div>

<div style="border: dotted">
    <p>Fixed Price</p>
    <input type="text" />
    <p>VAT</p>
    <input type="text" />
</div>