
<script src="~/Scripts/App/Controllers/WorkOrder/WorkOrderController.js"></script>

<div class="col-md-2 accordion-menu-container">
    <div class="container">
        @{
            Html.RenderPartial("_Menu");
        }
    </div>
</div>
<div class="col-md-10 page-content">
    <div ng-view class="container">

    </div>
</div>




