
<div class="panel panel-default">
    <div class="panel-heading " style="display: inline-block; width: 100%;">
        <div class="pull-left"><h4>Parts</h4></div>
        <div class="pull-right">
            <div class="input-group " style="display: inline-flex; white-space: nowrap;">
                <a class="btn btn-default" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" title="Add" data-toggle="modal" data-target="#modalEditPart"><span class="glyphicon glyphicon-plus"></span></a>
                <input id="searchText" ng-model="searchText" class="form-control" style="display:none; width:0px;" type="text" value="" placeholder="Search" />
                <a id="searchButton" class="btn btn-default btn-search" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" title="Search" ng-click="searchParts('Wooo!')"><span class="glyphicon glyphicon-search"></span></a>
            </div>
        </div>
    </div>

    <table ng-table="tblParts" class="table table-striped" show-filter="true">
        <tr>
            <th>
                <a href="" ng-click="orderByField='ItemId'; reverseSort = !reverseSort">
                    Article number
                    <span ng-show="orderByField == 'ItemId'">
                        <span class="glyphicon glyphicon-chevron-up" ng-show="reverseSort"></span>
                        <span class="glyphicon glyphicon-chevron-down" ng-show="!reverseSort"></span>
                    </span>
                </a>
            </th>
            <th><span sortable="ItemName">Article name</span></th>
            <th>Price</th>
            <th>VAT</th>
            <th>Spec fsg</th>
            <th width="10"></th>
        </tr>
        <tr ng-repeat="item in $data|orderBy:orderByField:reverseSort|filter:searchText">
            <td>{{item.ItemId}}</td>
            <td>{{item.ItemName}}</td>
            <td>{{item.ItemPrice | currency_custom : 2}}</td>
            <td>{{item.VAT}}</td>
            <td>
                <span ng-switch on="item.SpecFsg">
                    <i ng-switch-when="true" class="fa fa-check" aria-hidden="true"></i>
                    <i ng-switch-default></i>
                </span>
            </td>
            <td><a class="btn" ng-click="deletePart(item)" title="Delete"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
    </table>
<!--    <input ng-model="tblParts.page" ng-model-options="{getterSetter: true}" />-->


    <!-- Modal -->
    <div class="modal fade" id="modalEditPart" tabindex="-1" role="dialog" aria-labelledby="modalEditPartLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalEditPartLabel">Part</h4>
                </div>
                <div class="modal-body">
                    <ng-form>

                        <div class="form-group row">
                            <label for="txtItemId" class="col-md-3 col-xs-2 col-form-label">Article number</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="number" value="" id="txtItemId" ng-model="ItemId">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtItemName" class="col-md-3 col-xs-2 col-form-label">Article name</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" value="" id="txtItemName" ng-model="ItemName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtItemPrice" class="col-md-3 col-xs-2 col-form-label">Price</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="number" value="" id="txtItemPrice" ng-model="ItemPrice">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtVAT" class="col-md-3 col-xs-2 col-form-label">VAT</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="number" value="" id="txtVAT" ng-model="VAT">
                            </div>
                        </div>
                        <div class="form-check row">
                            <label for="chkSpecFsg" class="col-md-3 col-xs-2 col-form-label">SpecFsg</label>
                            <div class="col-xs-9">
                                <input class="form-check-input" type="checkbox" value="" id="chkSpecFsg" ng-model="SpecFsg">
                            </div>
                        </div>

                    </ng-form>
                </div>
                <div class="modal-footer">
                    <div class="" role="group" aria-label="First group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="savePart()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
            public int ArticleNumber { get; set; }
        public string ArticleName { get; set; }
        public double Price { get; set; }
        public double VAT { get; set; }
        public bool SpecFsg { get; set; }
    
     -->

