

    <fieldset class="custom-fieldset">
        <legend>Price query</legend>
        <div class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-fw fa-question-circle-o" aria-hidden="true"></i></div>
                    <input type="number" class="form-control" title="Question number" placeholder="Question number">
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-fw fa-user" aria-hidden="true"></i></div>
                    <input type="text" class="form-control" title="Administrator" placeholder="Administrator">
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i></div>
                    <input type="date" class="form-control" title="Date" placeholder="Date">
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="">
        <legend></legend>
        <div class="col-md-6">
            <div class="form-group row">
                <div class="input-group col-md-12">
                    <label class="col-form-label">Branch</label>
                    <div class="">
                        <input type="text" class="form-control" title="Branch" placeholder="Branch">
                    </div>
                </div>
                <div class="input-group col-md-6">
                    <label class="col-form-label">Customer number</label>
                    <div class="">
                        <input type="text" class="form-control" title="Customer number" placeholder="Customer number">
                    </div>
                </div>
                <div class="input-group col-md-6">
                    <label class="col-form-label">Customer number</label>
                    <div class="">
                        <input type="text" class="form-control" title="Customer number" placeholder="Customer number">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <div class="input-group">
                    <label class="col-md-6 col-form-label">Question number</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" title="Question number" placeholder="Question number">
                    </div>

                    <label class="col-md-6 col-form-label">Question number</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" title="Question number" placeholder="Question number">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>


<div class="row">
    <button ng-click="postez()">Post!</button>
    <button ng-click="showezMoi()">Show!</button>
    <div ng-show="showez">
        IT'S VISIBLE!!!
    </div>

</div>

