<div ng-controller="WorkOrderController">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Parts</div>
            <div class="form-group panel-body">
                <input type="button" class="btn btn-info" value="Create Picklist" ng-click="WOH_Picklist()" />
                <input type="button" class="btn btn-info" value="Create Reservations" ng-click="WOH_Reservation()" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Finalize</div>
            <div class="form-group panel-body">
                <input type="button" class="btn btn-info" value="Finalize.." ng-click="WOH_Finalize()" />
                <input type="button" class="btn btn-info" value="Quick Finilize.." ng-click="WOH_QuickFinalize()" />
            </div>
        </div>
    </div>
</div>