<div ng-controller="WorkOrderSearchController">
    <h3>Selected WO: <label>{{currentWoh}}</label></h3>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Find / Create WO</div>
            <div class="form-group panel-body">
                <button class="btn btn-info" ng-click="WOH_AddNewWOH(); SearchWoH;">Create New</button>
                <input type="text" class="form-control" placeholder="Search" ng-model="woh_Search" />
                <button class="btn btn-default" type="submit" ng-click="SearchWoH()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
            <table ng-table="wohTable" class="table table-striped table-hover">
                <tr>
                    <th>WO NR</th>
                    <th>Reg nr</th>
                    <th>Status</th>
                    <th>Vehicle Description</th>
                    <th>Created Date</th>
                    <th>Main Payer</th>
                    <th>Responsible By</th>
                    <th>Total Cost</th>
                    <th>Select</th>
                    <th>Details</th>
                </tr>
                <tr ng-repeat="item in $data">
                    <td>{{item.WoNr}}</td>
                    <td>{{item.RegNr}}</td>
                    <td>{{item.Status}}</td>
                    <td>{{item.VehDesc}}</td>
                    <td>{{item.CreatedDate}}</td>
                    <td>{{item.MainPayer}}</td>
                    <td>{{item.RespBy}}</td>
                    <td>{{item.TotCost}}</td>
                    <td><input type="button" class="btn btn-info" value="Select" ng-click="WOH_Select(item.WoNr)" /></td>
                    <td><input type="button" class="btn btn-info" value="Details" ng-click="WOH_ViewDetails(item.WoNr)" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>
