<div ng-controller="WorkOrderController">
    <h3>Selected WOJ: </h3>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Select job</div>
            <div class="form-group panel-body">
                <input type="button" class="btn btn-info" value="Create New" ng-click="WOJ_AddNewWoJ()" />
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Job Number</th>
                    <th>Status</th>
                    <th>Select</th>
                    <th>Details</th>
                </tr>
                <tr ng-repeat="item in collection">
                    <td>{{item.JobNr}}</td>
                    <td>{{item.Status}}</td>
                    <td><input type="button" class="btn btn-info" value="Select" ng-click="WOJ_Select(item)" /></td>
                    <td><input type="button" class="btn btn-info" value="Details" ng-click="WOJ_ViewDetails(item)" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>
