<tframe data-title="Select Workorder Kit">
    <div ng-controller="WOActiveKitsController">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Packages</div>
                <div class="form-group panel-body">
                    <input type="text" class="form-control" placeholder="Package Number" ng-model="wjkCode" />
                    <input type="button" class="btn btn-info" value="Add" ng-click="WOH_AddWJK()">
                </div>
                <table ng-table="wjkTable" class="table table-striped table-hover" ng-init="GetWJKList()">
                    <tr>
                        <th>Packages Number</th>
                        <th>Packages Type</th>
                        <th>Packages Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Details</th>
                        <th>Remove</th>
                    </tr>
                    <tr ng-repeat="item in $data">
                        <td>{{item.KitNr}}</td>
                        <td>{{item.KitType}}</td>
                        <td>{{item.KitDesc}}</td>
                        <td>{{item.Quantity}}</td>
                        <td>{{item.Price}}</td>
                        <td><input type="button" class="btn btn-info" value="Details" ng-click="WOJ_ViewWJKDetails(item.KitId)" /></td>
                        <td><input type="button" class="btn btn-info" value="Remove" ng-click="WOJ_RemoveWJK(item.KitId)" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</tframe>