<div ng-controller="WorkOrderController">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Packages</div>
            <div class="form-group panel-body">
                <input type="text" class="form-control" placeholder="Part Number" />
                <input type="button" class="btn btn-info" value="Add" ng-click="WOJ_AddPart()">
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Part Number</th>
                    <th>Part Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Details</th>
                </tr>
                <tr ng-repeat="item in collection">
                    <td>{{item.PartNr}}</td>
                    <td>{{item.PartDesc}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.Price}}</td>
                    <td><input type="button" class="btn btn-info" value="Details" ng-click="WOJ_Part_ViewDetails(item)" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>
