

<ul class="accordion-menu">
    <li class="accordion-menu-logo-item">
        <a href="/"><img src="~/Images/tacdis.png" /></a>
    </li>
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Menyval A</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#list" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-rocket" aria-hidden="true"></i> Victory</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-th-list" aria-hidden="true"></i> Menu 2</a></li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Menyval B</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> Menu 1</a></li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Menyval C</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-paper-plane-o" aria-hidden="true"></i> Menu 1</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-line-chart" aria-hidden="true"></i> Menu 2</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-heart-o" aria-hidden="true"></i> Menu 5</a></li>
        </ul>
    </li>
</ul>









