

<ul class="accordion-menu">
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Försäljning</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#query" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-eur" aria-hidden="true"></i> Prisfråga - Bildelar</a></li>
            <li class="accordion-sub-menu-item"><a href="#list" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-shopping-basket" aria-hidden="true"></i> Butiksförsäljning</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-th-list" aria-hidden="true"></i> Översikt - Butiksförsäljning</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-th-list" aria-hidden="true"></i> Översikt - Butiksorder samtl. filialer</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-th-list" aria-hidden="true"></i> Översikt - Butiksförsäljning Dokument   </a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-th-list" aria-hidden="true"></i> Översikt - Brister och reservationer</a></li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Clearing/Saldouppdateringar</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> Skapa - Saldojustering / invent.underlag</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> Underhåll - Saldojustering/Inventering</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> Clearing mellan lagerområden</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> Clearing mellan filialer</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> Översikt - Clearing mellan filialer</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> Översikt - Clearingdokument</a></li>
        </ul>
    </li>
    <li class="accordion-menu-item">
        <a href="#" class="accordion-menu-main-item-text">Inleveranser/Retur till lev.</a>
        <ul class="accordion-sub-menu">
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-paper-plane-o" aria-hidden="true"></i> Uppackningslista</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-line-chart" aria-hidden="true"></i> Översikt - Uppackningslista</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-paper-plane-o" aria-hidden="true"></i> Översikt - Orderrader</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-line-chart" aria-hidden="true"></i> Retur till leverantör</a></li>
            <li class="accordion-sub-menu-item"><a href="#" class="accordion-sub-menu-item-text"><i class="fa fa-fw fa-heart-o" aria-hidden="true"></i> Översikt - Retur till leverantör</a></li>
        </ul>
    </li>
</ul>









